# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage &* test
coverage
test
vitest-ctrf

# Transpiled files
dist/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm
*.tgz

# Optional eslint cache
.eslintcache

# Misc
.DS_Store